// Sidebar
.sidebar {
	width: 420px;
	background-color: $gray500;

	.sidebar-container {
		width: 80%;
		margin: 0 auto;
		padding: 4rem 0;

		.title {
			padding-bottom: 2rem;

			p {
				color: $primary;
				font-weight: 700;
				margin: 0;
			}
	
			h3 {
				font-size: 2rem;
				font-weight: 900;
				margin: 0;
			}
		}

		.status-wrapper {
			.hidden {
				visibility: hidden;
			}
		}

		.form-wrapper {
			display: flex;
			flex-direction: column;

			:global(.autocomplete) {
				margin: .75rem 0;
			}

			:global(.autocomplete-input), .input {
				background-color: $gray400;
				padding: 1rem 1.25rem;
				border-radius: 1rem;
				outline: none;
				border: none;
			}

			:global(.autocomplete-list) {
				margin-top: .25rem;
				border: 1px solid $gray300;
				border-radius: 1rem;
			}

			:global(.autocomplete-list-item) {
				padding: .75rem 1rem;
			}

			:global(.autocomplete-list-item.selected) {
				background-color: $primary;
			}

			:global(.autocomplete-list-item.confirmed) {
				background-color: rgba($primary, 0.75);
			}

			.search-btn {
				display: flex;
				justify-content: center;
				background-color: $primary;
				margin: .75rem 0;
				color: white;
				font-weight: 900;
				font-size: 1rem;

				span {
					margin-left: .2rem;
				}

				&:hover {
					background-color: rgba($primary, 0.9);
				}
			}
		}
	}
}