// Variables

// Typography
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
$font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

// Colors
$dark: #222;
$dark200: #2b2b2b;
$dark300: #363636;
$dark400: #444444;
$gray: #aaaab3;
$gray200: #bfbfc6;
$gray300: #d4d4d9;
$gray400: #eaeaec;
$gray450: #f4f4f5;
$gray500: #fafafa;
$primary: rgb(195, 0, 47);
